# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Development/test cache & configurations
.env
.git
.vscode

# openshift
openshift.local.clusterup

